@import '../../styles/variables.scss';

.figure{
    display: flex;
    position: relative;

    &__caption{
        position: absolute;
        color: $color-primary;
        font-size: 25px;
        font-weight: 600;
        bottom: 20%;
        left: 5%;
    }

    &__caption2{
        position: absolute;
        color: $color-primary;
        font-size: 25px;
        font-weight: 600;
        bottom: 14%;
        left: 5%;
    }
}

.figure:hover {
    cursor: pointer;
}

.figure:hover figcaption{
    color: $color-secondary;
}

.figure:hover img{
    opacity: 0.5;
}
