@import '../../styles/variables.scss';

.figure {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    &__figcaption {
        position: absolute;
        bottom: 35%;
        left: 5%;
        color: $color-primary;
        font-size: 25px;
        font-weight: 600;
    }

    &__figcaption2 {
        position: absolute;
        bottom: 16%;
        left: 5%;
        color: $color-primary;
        font-size: 25px;
        font-weight: 600;
    }

}